.section {
  h1 {
    font-size: 34px;
    line-height: 36px;
    font-weight: 600;
    margin: 8px 0 24px 0;
  }

  h2 {
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    margin: 8px 0 24px 0;
  }

  h3 {
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    margin: 12px 0 14px 0;
  }

  h5 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin: 0 0 4px 0;
  }

  big {
    font-size: 36px;
  }

  table {
    max-width: 90%;
    margin: auto;

    td + td {
      padding: 18px 24px;
    }
  }

  code {
    background-color: var(--rs-border-primary);
    padding: 0 4px;
    border-radius: 3px;
  }

  li:not(:last-child) {
    margin-bottom: 8px;
  }

  ul {
    margin-top: 12px;
    padding-left: 20px;
  }
}
