header {
  width: 100%;
  background-color: var(--rs-sidenav-default-bg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  & > nav {
    height: 60px;
    padding: 2px 0;

    .right-container {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .search-container {
      display: inline-block;
    }
  }

  .logo {
    padding: 4px 0;
    padding-right: 12px;
    font-size: 32px;
    font-weight: 600;
    color: var(--rs-primary-500);
  }
}
